:root {
    --color--body-background: hsl(218, 28%, 13%);
    --color--intro-background: hsl(217, 28%, 15%);
    --color--footer-background: hsl(216, 53%, 9%);
    --color--testimonial-background: hsl(219, 30%, 18%);

    --color--call-to-action-background--lighter: hsl(176, 68%, 64%);
    --color--call-to-action-background--darker: hsl(198, 60%, 50%);

    --color--lightest: hsl(218, 30%, 98%);
    --color--lighter: hsl(218, 30%, 80%);
    --color--light: hsl(218, 30%, 70%);

    --shell-padding: 4rem;

    --full-width: 144rem;
    --full-width-padding-inline: calc(max(100% - var(--full-width), var(--shell-padding)) / 2);
}

*,
*::before,
*::after {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;

    scroll-behavior: smooth;
}

body {
    background-color: var(--color--body-background);
    color: var(--color--lightest);

    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem;
}

ul {
    list-style: none;
}

h2 {
    font-family: Raleway, sans-serif;
    font-size: 2.4rem;
    font-weight: 700;
}

p {
    color: var(--color--lighter);

    font-size: 1.8rem;
    line-height: 1.6;
}

a {
    color: inherit;

    text-decoration: none;
}

button {
    border: none;

    cursor: pointer;

    &.cta {
        background-image: linear-gradient(
            to bottom right,
            var(--color--call-to-action-background--lighter),
            var(--color--call-to-action-background--darker)
        );
        color: var(--color--lightest);

        width: 32rem;
        max-width: 100%;

        padding: 2rem;

        border-radius: 999rem;

        font-family: Raleway, sans-serif;
        font-size: 1.8rem;
        font-weight: 700;

        &:hover {
            background-image: none;
            background-color: var(--color--call-to-action-background--lighter);
        }
    }
}

img {
    display: block;

    max-width: 100%;
}

header {
    background-color: var(--color--intro-background);

    padding-block-start: var(--shell-padding);

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding-inline: var(--full-width-padding-inline);

        .logo {
            img {
                height: 3.2rem;
            }
        }

        ul {
            display: flex;
            gap: 3rem;

            font-family: Raleway, sans-serif;

            li {
                a {
                    color: var(--color--lighter);

                    &:hover {
                        color: var(--color--lightest);

                        text-decoration: underline;
                    }
                }
            }
        }
    }

    img {
        position: relative;

        &.illustration {
            z-index: 1;

            max-width: min(100%, 50rem);

            margin-block-start: 8rem;
            margin-inline: auto;
            padding-inline: var(--shell-padding);
        }

        &.curve {
            width: 100%;

            margin-block-start: -5rem;
        }
    }
}

main {
    position: relative;
    z-index: 1;

    margin-block-start: calc(18rem - 40vw);
    padding-inline: var(--full-width-padding-inline);

    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4rem;

        max-width: min(100%, 60rem);

        margin-block-end: 14rem;
        margin-inline: auto;

        text-align: center;

        h1 {
            font-family: Raleway, sans-serif;
            font-size: calc(3rem + 1vw);
        }

        p {
            color: var(--color--lighter);

            font-size: 1.8rem;
        }
    }

    #features {
        padding-block: 10rem;

        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 6rem;

            li {
                flex: 1 1 20rem;

                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 2rem;

                max-width: 60rem;

                text-align: center;

                img {
                    height: 10rem;

                    margin-block-end: 2rem;
                }
            }
        }
    }

    .how-it-woks {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 8rem;

        padding-block: 16rem;

        > img {
            flex: 1 1 40rem;

            width: 0;

            margin-block-end: 3rem;
        }

        .info {
            flex: 1 1 40rem;

            display: flex;
            flex-direction: column;
            gap: 2rem;

            h2 {
                font-size: calc(3rem + 1vw);
            }

            a {
                color: var(--color--call-to-action-background--lighter);

                display: flex;
                align-items: center;
                gap: 1rem;

                width: fit-content;

                padding-block: 1rem;

                border-block-end: 2px solid currentColor;

                font-size: 1.6rem;

                svg {
                    fill: currentColor;

                    width: 1em;
                }

                &:hover {
                    color: var(--color--lightest);
                }
            }
        }
    }

    #team {
        margin-block-end: 20rem;
        padding-block: 2rem;

        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 3rem;

            li {
                flex: 1 1 30rem;

                background-color: var(--color--testimonial-background);

                position: relative;

                display: flex;
                flex-direction: column;
                gap: 2rem;

                width: 0;

                padding: 3rem;

                border-radius: 0.5rem;

                p {
                    grid-column: span 2;
                }

                .info {
                    display: grid;
                    grid-template-areas: 'img name' 'img role';
                    grid-template-columns: auto 1fr;
                    column-gap: 1rem;

                    img {
                        grid-area: img;

                        height: 2em;

                        border-radius: 999rem;
                    }

                    .name {
                        grid-area: name;

                        font-family: Raleway, sans-serif;
                        font-size: 1.4rem;
                        font-weight: 700;
                    }

                    .role {
                        grid-area: role;

                        color: var(--color--lighter);

                        font-size: 1.2rem;
                    }
                }

                .quotes {
                    --offset: -1rem;

                    position: absolute;

                    width: 3rem;
                }

                &:first-of-type {
                    .quotes {
                        inset-block-start: var(--offset);
                        inset-inline-start: var(--offset);
                    }
                }

                &:last-of-type {
                    .quotes {
                        inset-block-end: var(--offset);
                        inset-inline-end: var(--offset);

                        transform: rotate(180deg);
                    }
                }
            }
        }
    }

    #sign-in {
        background-color: var(--color--intro-background);
        box-shadow: 0 4px 0 hsl(0, 0%, 0%, 0.2);

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;

        max-width: 100rem;

        margin: auto;
        padding: 3rem;

        border-radius: 0.5rem;

        text-align: center;

        h2 {
            font-size: calc(2rem + 2vw);
        }

        input {
            padding: 2rem;

            width: 48rem;
            max-width: 100%;

            border: none;
            border-radius: 999rem;

            outline: none;

            font-family: Raleway, sans-serif;
            font-size: 1.8rem;

            &::placeholder {
                color: var(--color--light);
            }
        }
    }
}

footer {
    background-color: var(--color--footer-background);

    display: flex;
    flex-direction: column;
    gap: 4rem;

    margin-block-start: -20rem;
    padding-block-start: 36rem;
    padding-block-end: 4rem;
    padding-inline: var(--full-width-padding-inline);

    .logo {
        width: 20rem;
    }

    .info {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
        gap: 4rem;

        .contact {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            gap: 4rem;

            .location,
            .phone-and-mail {
                display: grid;
                grid-template-columns: auto 1fr;
                justify-content: start;
                gap: 2rem;

                img {
                    box-sizing: content-box;

                    height: 1.8rem;

                    padding-block: 0.9rem;
                }
            }

            .location {
                max-width: 40rem;
            }
        }

        .lists {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            gap: inherit;

            .links {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                li {
                    color: var(--color--lighter);

                    font-size: 2rem;

                    :hover {
                        color: var(--color--lightest);
                    }
                }
            }

            .social-medias {
                display: flex;
                justify-content: center;
                gap: 2rem;

                li {
                    a {
                        display: grid;
                        place-items: center;

                        padding: 0.8rem;

                        border: 1px solid currentColor;
                        border-radius: 999rem;

                        font-size: 1.8rem;

                        svg {
                            fill: currentColor;

                            width: 1em;
                            aspect-ratio: 1 / 1;
                        }

                        &:hover {
                            color: var(--color--call-to-action-background--lighter);
                        }
                    }
                }
            }
        }
    }
}
